.code {
  &.columns {
    display: inline-block !important;
    width: auto !important;
    padding-left: 4px;
    padding-right: 4px;
  }

  &__item {
    background-color: $light-gray;
    padding: 12px !important;
    border: 1px solid darken($light-gray, 10%);
    border-radius: 4px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 596px) {
  table.body .code.columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2px !important;
    padding-right: 2px !important;

    &.first {
      padding-left: 16px !important;
    }
  }
}
