// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $body-background !important;
}

.container.header {
  background: $body-background;
}

.container.footer{
  background: $body-background;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: $dark-gray;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #FFFFFF;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Full Width Footer
.footer {
  background: $dark-gray;
}

.footer .columns {
  padding-bottom: 0;
}

.footer p {
  color: $dark-gray;
  font-size: 13px;
  margin-bottom: 8px;
  Margin-bottom: 8px;
}

.footer .wrapper-inner {
  padding: 20px;
}

.footer .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
