---
subject: Your myLSD account has been successfully created.
description: Your myLSD account has been successfully created. Please confirm your email address.
---

<container class="header">

  <spacer size="32"></spacer>
  <img src="/assets/img/centogene_logo.png" width="139" height="19" style="width: 139px;">
  <spacer size="32"></spacer>

</container>

<container class="body-border">
  <row>
    <columns>
      <spacer size="32"></spacer>
      <h5 class="text-left">MyLSD email verification</h5>
    </columns>
  </row>
  <row>
    <columns>
      <p>Your myLSD account has been successfully created.</p>
      <p>Please confirm that you want to use this as you myLSD account email address by copying this code in the app:</p>
    </columns>
  </row>

  <!-- Code start -->
  <row>
    <!-- Code Item start -->
    <columns class="code">
      <p class="text-center code__item">7</p>
    </columns>
    <!-- Code Item end -->
    <columns class="code">
      <p class="text-center code__item">7</p>
    </columns>
    <columns class="code">
      <p class="text-center code__item">7</p>
    </columns>
    <columns class="code">
      <p class="text-center code__item">7</p>
    </columns>
    <columns class="code">
      <p class="text-center code__item">7</p>
    </columns>
    <columns class="code">
      <p class="text-center code__item">7</p>
    </columns>
  </row>
<!-- Code end -->
  <row>
    <columns>
      <p>If you are facing any problems to login or to download your report at CentoPortal&copy;, please contact our
        support team by email or by phone.</p>
    </columns>
  </row>
  <spacer size="8"></spacer>
</container>

<container class="footer">
  <spacer size="32"></spacer>
  <img src="/assets/img/mylsd_logo.png" width="72" height="36" style="width: 72px;">
  <spacer size="16"></spacer>
  <p>Kind regards,</p>
  <p>Your myLSD Service Team</p>
  <spacer size="8"></spacer>
  <p>E-Mail: <a href="mailto:myLSDApp@centogene.com">myLSDApp@centogene.com</a></p>
  <p>Phone: <a href="tel:+4938180113417" target="_blank">+49&nbsp;(0)&nbsp;0381&nbsp;/&nbsp;80113-417</a></p>
  <spacer size="32"></spacer>
</container>
